body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }
    
    header {
    background: #35424a;
    color: white;
    padding: 20px 0;
    text-align: center;
    }
    
    section {
    padding: 20px;
    }
    
    footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    }